{% extends "base.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<main class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 h-100">
        <section class="col bg-danger d-none d-lg-block col-md-5 col-lg-5 rounded-start-3 bg-image-section">
            <!-- Imagen decorativa -->
            <!--<img src="{{ url_for('static', filename='images/dogo.png') }}" alt="Imagen decorativa">-->
            </section>
            
            <section class="col bg-black p-5 rounded-end-3">
                <form method="POST" action="{{ url_for('auth_web.reset_password') }}" class="forms">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <h2 class="Title text-center py-4 text-white">¡Recupera tu contraseña!</h2>
                    
                    <div class="input-container mb-4">
                        <label class="labels fw-bold form-label text-white" for="email">Correo electrónico:</label>
                        <input type="email" id="email" name="email" class="inputs form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="labels fw-bold form-label text-white">Nueva contraseña</label>
                        <input type="password" class="form-control inputs" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="labels fw-bold form-label text-white">Confirmar nueva contraseña</label>
                        <input type="password" class="form-control inputs" id="confirm_password" name="confirm_password" required>
                    </div>
                    <div class="text-center mt-5">
                        <button type="submit" class="register btn btn-primary mb-2">Enviar enlace</button>
                        <p class="fw-bold text-center mt-3 text-white">
                            ¿Recordaste tu contraseña? 
                            <a href="{{ url_for('auth_web.login') }}" class="reg-links">Inicia sesión aquí</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </main>
    
    <!-- Comentarios sobre el flujo: 
    En este formulario, cuando el usuario envía su correo, el sistema debería enviar un enlace 
    al correo proporcionado. Este enlace contendría una forma de restablecer la contraseña 
    directamente sin necesidad de un token. Una vez que el usuario haga clic en el enlace,
    la contraseña del correo será cambiada sin verificar un token.
    
    A futuro, este flujo podría requerir un enlace de validación para garantizar que la persona
    que solicita el cambio sea la correcta, pero en este momento, el sistema simplemente cambiará
    la contraseña basada en la dirección de correo electrónico. 
    -->
{% endblock %}
