<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <!-- Estilos propios -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>
    
    <main>
        <article class="Elements">
            <section>
                <h1>¿Quiénes somos?</h1>
                <p>Somos un equipo de desarrolladores apasionados por la tecnología y la innovación. Nuestro objetivo es crear soluciones que faciliten la vida de las personas y mejoren su experiencia en el mundo digital.</p>
                <p>Nuestra misión es ofrecer productos y servicios de alta calidad que satisfagan las necesidades de nuestros usuarios y contribuyan al desarrollo de la comunidad tecnológica.</p>
                <p>Contamos con un equipo diverso y talentoso, comprometido con la excelencia y la mejora continua. Creemos en el trabajo en equipo y en la colaboración para alcanzar nuestros objetivos.</p>
                <p>Si deseas saber más sobre nosotros, no dudes en ponerte en contacto con nosotros a través de nuestras redes sociales o nuestro sitio web.</p>
            </section>
        </article>
    </main>

    <footer>
        {% include 'partials/footer.html' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='static/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>