{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<article class="Elements pt-3">
    <section class="container-xl mb-5 mt-5 text-dark">
        <div class="row"> 
            <h1 class="pb-3">¿Quiénes somos?</h1>
            <p>Somos un equipo multidisciplinario de educadores, diseñadores, desarrolladores y especialistas en movilidad urbana comprometidos con transformar la forma en que se aprende y se vive la educación vial en Guadalajara.</p>
            <p>Nuestra plataforma nace de la necesidad de fomentar una cultura vial más responsable, dinámica y participativa, utilizando medios interactivos que conecten con todas las edades y niveles de conocimiento.</p>
            <p>Creemos que la educación vial no debe ser aburrida ni limitada a teorías: por eso desarrollamos contenidos visuales, juegos, simuladores, videos y recursos multimedia que permiten a los usuarios aprender de manera práctica, divertida y significativa.
                Trabajamos en colaboración con instituciones locales, expertos en tránsito y organizaciones civiles para asegurar que nuestros contenidos estén actualizados, sean inclusivos y reflejen la realidad vial de nuestra ciudad.</p>
            <p>Más que un sitio web, somos una comunidad comprometida con construir un entorno vial más seguro para todos.</p>
        </div>
    </section>
    <section class="container-xl mb-5 mt-5 text-dark">
        <div class="row">
            <h1 class="pb-3">Misión</h1>
            <p>Brindar a la comunidad de Guadalajara una plataforma web innovadora y accesible que utilice herramientas interactivas —como simuladores, juegos, videos educativos y evaluaciones dinámicas para fomentar una cultura vial responsable, inclusiva y segura, contribuyendo a la reducción de accidentes y al respeto mutuo entre peatones, ciclistas, motociclistas y automovilistas.</p>
            <h1 class="pb-3">Visión</h1>
            <p>Ser el referente principal en educación vial digital en Guadalajara y zonas metropolitanas, reconocida por su impacto positivo en la formación ciudadana, el uso efectivo de recursos tecnológicos y la promoción de una movilidad urbana más consciente, segura y sostenible para todos los sectores de la sociedad.</p>
        </div>
    </section>
    <section class="py5 m-5" id="features">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-3 bg-dark rounded-3 p-4 m-5">
                    <h5 class="fw-bold text-danger">Quizes</h5>
                    <p class="text-light">Quizes interactivos para todas las edades</p>
                </div>
                <div class="col-md-3 bg-dark rounded-3 p-4 m-5">
                    <h5 class="fw-bold text-danger">Simulaciones</h5>
                    <p class="text-light">Pon aprueba tus conocimientos en la simulacion de un problema real</p>
                </div>
                <div class="col-md-3 bg-dark rounded-3 p-4 m-5">
                    <h5 class="fw-bold text-danger">Ahorcado</h5>
                    <p class="text-light">Completa la frase sabiamente</p>
                </div>
            </div>
        </div>
    </section>
</article>

        {% endblock %}