<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juegos Recomendados</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>Menu</header>
    <div class="search-container">
      <div class="search-box">
        <span>🔍</span>
        <input
          type="text"
          id="searchInput"
          placeholder="Buscar juegos por ID..."
          onkeyup="buscarJuego()"
        />
      </div>
    </div>
    <h2>Juegos recomendados</h2>

    <div href="game.html" class="games-grid" id="gamesContainer">
      <div class="game-card" id="juego1">
        <center>
          <img src="img.jpeg" class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego2">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego3">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego4">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego5">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego6">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
      <div class="game-card" id="juego7">
        <center>
          <img class="game-img" />
        </center>
        <span class="game-name">Nombre</span>
      </div>
    </div>
  </body>
  <script src="menu.js"></script>
</html>
