<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Guardianes de la Vía</h5>
                <p class="text-white text-decoration-none">Promovemos una cultura vial segura e inclusiva mediante herramientas digitales interactivas para todos los ciudadanos de Guadalajara.</p>
            </div><br>
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Enlaces rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Videos educativos</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
                </ul>
            </div><br>
            <div class="col-md-4 mb-4">
                <h5 class="text-white text-decoration-none">Contáctanos</h5>
                <p class="text-white text-decoration-none">Email: contacto@superiorteam.site</p>
                <p class="text-white text-decoration-none">Tel: (33) 1234 5678</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <a href="{{ url_for('main.terminos') }}" class="text-white me-3">Términos y Condiciones</a>
                <a href="{{ url_for('main.privacidad') }}" class="text-white">Políticas de Privacidad</a>
            </div>
            <div class="col-md-6 text-md-end text-center">
                <small class="text-white text-decoration-none">© 2025 Guardianes de la Vía</small>
            </div>
        </div>
    </div>
</footer>
