<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/Inicio.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:wght@400;700&family=Oswald&display=swap" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>

    <main>
        <article class="Elements">
            <form action="{{ url_for('auth.login') }}" method="post">
                <h1>Iniciar Sesión</h1>

                <div class="input-container">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-container">
                    <label for="pass">Contraseña:</label>
                    <input type="password" id="pass" name="password" required>
                </div>

                <!-- Enlace para recuperar contraseña -->
                <div class="input-container" style="text-align: right;">
                    <a href="{{ url_for('main.recuperacion') }}">¿Olvidaste tu contraseña?</a>
                </div>

                <button type="submit">Iniciar Sesión</button>

                <p>¿No tienes una cuenta? <a href="{{ url_for('auth.registrar') }}">Regístrate aquí</a></p>
            </form>
        </article>
    </main>

    <footer>
        {% include 'partials/footer.html' %}    
    </footer>
</body>
</html>
